.loadMoreBtn {
    position: absolute;
    left: 50%;
    width: 150px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
        background-color: lightcyan;
    }
}